header,
.site-header,
.page-header,
.navbar,
.top-bar,
#header,
.wrapper > header,
div.header-wrapper,
div.header,
h1,
h1.page-title,
h1.site-title,
#site-title {
  display: none !important;
}

body, .page-content, .main-content, #main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
